#DATABASE
DB_HOST=""
DB_PORT=""
DB_USER=""
DB_PASSWORD=""
DB_PASSWORD_SCRIPT=""
DB_DBNAME=""

#TOKEN
SECRET_KEY_TOKEN=""
SECRET_KEY_REFRESH_TOKEN=""

ALGORITHM=""
TOKEN_EXPIRES_HOURS=""
REFRESH_TOKEN_EXPIRES_HOURS=""


